* {
  box-sizing: border-radius;
  font-family: 'Rubik', sans-serif;
}
.container {
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
  place-items: center;
  background-color: #128CFC;
}

.items {
  flex: 3;
  width: 300px;
  background: #fffffe;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  border-top: 10px solid #0B5AA2;
}

.items-head p{
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid #0B5AA2;
}

.leftbox {
  flex: 1;
  }